:root {
  --primary-color: #292935;
  --dark-green-color: #70B483;
  --dark-green-rgb: 112, 180, 131;

  --light-green-color: #CCDE91;
  --red-color: #D24C4C;
  --dark-red-rgb: 210, 76, 76;

  --yellow-color: #EAC95E;

  --turquoise-color: #67B4B8;
  --dark-red-color: #D45252;

  --dark-grey-color: #5E6A6F;
  --grey-color: #F3F3F3;
  --light-mid-grey: #DFDDE0;

  --azureish-white-color: #D4E9ED;
  --light-grey-color: #F3F1F3;
  --mid-grey-color: #979EA2;
  --linear-gradient-color: linear-gradient(90deg, #84BCC3 0%, #68ADB0 27.6%, #6FB482 64.06%, #92B661 100%);
}

/* Fonts */
@font-face {
  font-family: "DuplicateSoft-Light-Web";
  src: url("../fonts/DuplicateSoft-Light-Web.woff2") format("woff2"),
    url("../fonts/DuplicateSoft-Light-Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "DuplicateSoft-Regular-Web";
  src: url("../fonts/DuplicateSoft-Regular-Web.woff2") format("woff2"),
    url("../fonts/DuplicateSoft-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "DuplicateSoft-Medium-Web";
  src: url("../fonts/DuplicateSoft-Medium-Web.woff2") format("woff2"),
    url("../fonts/DuplicateSoft-Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "DuplicateSoft-Bold-Web";
  src: url("../fonts/DuplicateSoft-Bold-Web.woff2") format("woff2"),
    url("../fonts/DuplicateSoft-Bold-Web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
/* Fonts */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 19px;
  scroll-behavior: smooth;
}
body {
  font-family: "DuplicateSoft-Regular-Web";
  background-color: var(--light-grey-color);
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0.02rem;
  min-height: 100vh;
}
a,
a:hover,
path,
a:hover path {
  text-decoration: none;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
a:hover {
  color: var(--dark-green-color);
}
a:hover path {
  stroke: var(--dark-green-color);
}
:focus {
  outline: none !important;
  box-shadow: none !important;
}
img {
  max-width: 100%;
}
p:not(:last-child) {
  margin-bottom: 1rem;
}
.btn {
  font-family: "DuplicateSoft-Medium-Web";
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 3.158rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  line-height: 1.3;
  padding: 0.684rem 1.684rem 0.737rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.btn-sm {
  padding: 0.368rem 1.474rem 0.421rem;
  font-size: 0.895rem;
}
.btn-white {
  background-color: #ffffff;
  color: var(--primary-color);
  border-color: #ffffff;
}
.btn-dark-green {
  background-color: var(--dark-green-color);
  border-color: var(--dark-green-color);
}
.btn-ouline-grey {
  background-color: transparent;
  border: 2px solid #B8B8C0;
  color: var(--primary-color);
}
.btn-ouline-dark {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-ouline-white {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.btn:hover {
  background-color: var(--dark-green-color);
  border-color: var(--dark-green-color);
  color: #ffffff;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.btn-ouline-white:hover {
  background-color: var(--dark-green-color);
  border-color: var(--dark-green-color);
}
.btn-dark-green:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-gradient {
  background: var(--linear-gradient-color);
  border-color: transparent;
}
.btn-gradient:hover {
  background: linear-gradient(90deg, #84BCC3 100%, #68ADB0 60%, #6FB482 20%, #92B661 0%);
}
.btn-light-grey {
  background-color: var(--light-grey-color);
  border-color: var(--light-grey-color);
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DuplicateSoft-Medium-Web";
  font-weight: 500;
}
h1, .h1 {
  font-size: 2.316rem; /* 44px */
}
h2, .h2 {
  font-size: 2rem; /* 38px */
}
h3, .h3 {
  font-size: 1.684rem; /* 32px */
}
h4, .h4 {
  font-size: 1.368rem; /* 26px */
}
h5, .h5 {
  font-size: 1.158rem; /* 22px */
}
h6, .h6 {
  font-size: 1rem; /* 19px */
}
.text-sm {
  font-size: 0.895rem; /* 17px */
}
.text-xs {
  font-size: 0.789rem; /* 15px */
}
.small, small {
  font-size: 0.684rem;
}
.ge-rounded {
  border-radius: 16px;
}
.duplicate-soft-light {
  font-family: "DuplicateSoft-Light-Web" !important;
  font-weight: 300 !important;
}
.duplicate-soft-regular {
  font-family: "DuplicateSoft-Regular-Web" !important;
  font-weight: 400 !important;
}
.duplicate-soft-medium {
  font-family: "DuplicateSoft-Medium-Web" !important;
  font-weight: 500 !important;
}
.duplicate-soft-bold {
  font-family: "DuplicateSoft-Bold-Web" !important;
  font-weight: 700 !important;
}

.row {
  --bs-gutter-x: 0.842rem;
}
.form-group {
  position: relative;
  margin-bottom: 0.842rem;
}
label {
  font-family: "DuplicateSoft-Medium-Web";
  font-weight: 500;
  font-size: 0.895rem;
  margin-bottom: 5px;
}
label small {
  color: var(--mid-grey-color);
}
.form-control {
  font-family: "DuplicateSoft-Regular-Web";
  font-weight: 400;
  border: 1.5px solid var(--light-mid-grey);
  color: var(--primary-color);
  font-size: 0.895rem;
  padding: 1rem 0.842rem;
  border-radius: 0.421rem;
  height: auto;
  line-height: normal;
}
.form-control::-webkit-input-placeholder {
  color: var(--mid-grey-color);
}
.form-control::-moz-placeholder {
  color: var(--mid-grey-color);
}
.form-control:-ms-input-placeholder {
  color: var(--mid-grey-color);
}
.form-control::-ms-input-placeholder {
  color: var(--mid-grey-color);
}
.form-control::placeholder {
  color: var(--mid-grey-color);
}
.form-control.invalid {
  border-color: var(--red-color);
}
.forgot-pass {
  font-size: 0.789rem;
}
.notification-search .search-control {
  padding: 0.632rem 0.526rem 0.632rem 2.368rem;
  background: #ffffff url('../images/icons/search.svg') no-repeat 0.842rem center / 1rem;
}
.notification-search .search-control::placeholder {
  color: var(--dark-grey-color);
}
.ge__error img {
  width: 1.053rem;
  height: 1.053rem;
}
.p-40 {
  padding: 2.105rem;
}

.input-wrapper-amout span {
  font-family: "DuplicateSoft-Medium-Web";
  font-weight: 500;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.842rem;
  right: auto;
  bottom: auto;
}
.input-wrapper-amout .form-control {
  padding-left: 1.684rem;
}

/* Colors */
.text--dark {
  color: var(--primary-color);
}
.text-dark-grey {
  color: var(--dark-grey-color);
}
.text-mid-grey {
  color: var(--mid-grey-color);
}
.text--dark-green {
  color: var(--dark-green-color);
}
.text--turquoise {
  color: var(--turquoise-color);
}
.text--red {
  color: var(--red-color);
}
.text--linear-gradient {
  background: var(--linear-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg--dark {
  background-color: var(--primary-color);
}
.bg--dark-green {
  background-color: var(--dark-green-color);
}
.bg--dark-green01 {
  --bs-bg-opacity: 0.1;
  background-color: rgba(var(--dark-green-rgb),var(--bs-bg-opacity))!important;
}
.bg--red01 {
  --bs-bg-opacity: 0.1;
  background-color: rgba(var(--dark-red-rgb),var(--bs-bg-opacity))!important;
}
.bg--light-green {
  background-color: var(--light-green-color);
}
.bg--linear-gradient {
  background: var(--linear-gradient-color);
}
.bg--grey {
  background-color: var(--grey-color);
}
.bg--light-grey {
  background-color: var(--light-grey-color);
}
.bg--red {
  background-color: var(--red-color);
}
.bg--dark-red {
  background-color: var(--dark-red-color);
}
.bg--turquoise {
  background-color: var(--turquoise-color);
}
.bg--azureish-white {
  background-color: var(--azureish-white-color);
}
.bg--yellow {
  background-color: var(--yellow-color);
}
/* Colors */

/* Components */
.ge__card {
  border: 2px solid var(--light-grey-color);
  border-radius: 16px;
  padding: 1.263rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ge__card .ge__card__footer {
  margin-top: 1.947rem;
}
.text-decoration-underline {
  text-underline-offset: 0.263rem;
}

.amount-large {
  font-size: 2.947rem;
}
.amount-large span {
  font-size: 2rem;
}

.arrow-link svg {
  width: 1.684rem;
  height: 1.684rem;
}

.primary--link {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 0.263rem;
}
.green--link {
  color: var(--dark-green-color);
  text-decoration: underline;
  text-underline-offset: 0.263rem;
}
.white--link {
  color: #ffffff;
  text-decoration: underline;
  text-underline-offset: 0.263rem;
}

.ge__info__alert {
  color: var(--dark-grey-color);
  font-size: 0.842rem;
  border: 2px solid #70B483;
  border-radius: 0.842rem;
  padding: 0.632rem 0.842rem;
  display: flex;
  align-items: center;
}

.gradient-border-box {
  background-repeat: no-repeat;
  border: 2px solid;
  background: linear-gradient(#FFF, #FFF) padding-box right,linear-gradient(90deg, #84BCC3 0%, #68ADB0 27.6%, #6FB482 64.06%, #92B661 100%) border-box;
  border-image-source: linear-gradient(90deg, #84BCC3 0%, #68ADB0 27.6%, #6FB482 64.06%, #92B661 100%);
}

.ge__plans__card {
  background-color: #ffffff;
  padding: 1.684rem;
  border-radius: 0.842rem;
  display: flex;
}
.ge__plans__card__icon {
  margin-right: 1.579rem;
  width: 5%;
}
.ge__plans__card__icon img {
  width: 2.421rem;
}
.ge__plans__card__details {
  display: flex;
  width: 73%;
}
.ge__plans__card__des {
  position: relative;
  border-left: 2px solid var(--light-mid-grey);
  padding-left: 2.105rem;
  padding-right: 1rem;
  margin-left: 2.105rem;
}
.ge__plans__card__actions {
  width: 22%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}
.ge__plans__card__actions .btn {
  margin-top: 0.632rem;
}
@media (max-width: 991px) {
  .ge__plans__card {
    flex-direction: column;
  }
  .ge__plans__card__icon {
    margin: 0 0 1rem;
    width: 100%;
  }
  .ge__plans__card__details {
    width: 100%;
    margin-bottom: 2rem;
  }
  .ge__plans__card__actions {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .ge__plans__card__actions .btn {
    margin: 0 0 0 1rem;
  }
}
@media (max-width: 575px) {
  .ge__plans__card__details,
  .ge__plans__card__actions {
    flex-direction: column;
    align-items: flex-start;
  }
  .ge__plans__card__details > div {
    width: 100%;
  }
  .ge__plans__card__des {
    border-left: none;
    border-top: 1px solid var(--light-mid-grey);
    padding: 1.5rem 0 0;
    margin: 1.5rem 0 0;
  }
  .ge__plans__card__actions .btn {
    margin: 0.7rem 0 0 0;
  }
  .ge__plans__card__actions .primary--link {
    margin-bottom: 0.4rem;
  }
}
/* Components */

/* Header CSS */

header {
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
header.fixed-top {
  box-shadow: 0 1px 0.625rem 0 rgba(0, 0, 0, 0.1);
  animation: slideDown 0.35s ease-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/* Header Top CSS */
.ge-header__top {
  padding: 0 0.842rem;
  padding-left: 0;
}
.fixed-top .ge-header__top {
  display: none !important;
}
.ge-header__top li a {
  font-size: 0.684rem;
  line-height: 1;
  letter-spacing: 0.02rem;
  padding: 0.526rem 1.053rem;
  display: block;
  border: none;
}
.ge-header__top__links li a {
  padding: 0;
}
.ge-header__top__links li:not(:last-child) {
  margin-right: 1.053rem;
}
.ge-header__top__tab li a.active {
  background-color: #ffffff;
}
.ge-header__top li .btn {
  padding: 0.211rem 0.684rem;
  border-radius: 0.842rem;
  font-family: "DuplicateSoft-Regular-Web";
  font-weight: 400;
}
/* Header Top CSS */

/* Header Menu CSS */
.ge-header__main {
  padding: 0 1.684rem;
}
.ge-header__logo {
  padding: 1.474rem 0;
}
.ge-header__menu .navbar {
  padding: 2.105rem 0 0;
}
.ge-header__menu .nav-item .nav-link {
  padding: 0.789rem 0.895rem 1.053rem;
  font-family: "DuplicateSoft-Medium-Web";
  font-weight: 500;
  font-size: 0.895rem;
  color: var(--primary-color);
}
.ge-header__menu .nav-item a:hover {
  color: var(--dark-green-color);
}
.ge-header__menu .nav-item .nav-link.show {
  background: var(--light-grey-color);
  border-radius: 0.842rem 0.842rem 0 0;
}
.ge-header__menu .nav-item .nav-link:after {
  color: var(--dark-green-color);
  border-top: 0.526rem solid;
  border-right: 0.289rem solid transparent;
  border-left: 0.289rem solid transparent;
  border-radius: 2px;
  vertical-align: middle;
}
.ge-header__menu .nav-item .nav-link.show:after {
  transform: rotate(180deg);
}
.ge-header__menu .dropdown-menu {
  width: 12rem;
  border: none;
  background: var(--primary-color);
  border-radius: 0 0.842rem 0.842rem 0.842rem;
  padding: 0.632rem 1.263rem;
  margin-top: 0;
}
.ge-header__menu .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #4a505f;
}
.ge-header__menu .dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.632rem 0;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 0.895rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
}
.nav-item-mobile {
  display: none;
}

.ge-header__actions li:not(:last-child) {
  margin-right: 1.263rem;
}
.ge-header__actions li > a {
  color: var(--primary-color);
  font-family: "DuplicateSoft-Medium-Web";
  font-weight: 500;
  font-size: 0.684rem;
  position: relative;
  padding: 1.579rem 0 1.316rem;
  display: block;
}
.ge-header__actions li > a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.211rem;
  background-color: #E0F0F3;
  border-radius: 0.842rem 0.842rem 0 0;
  opacity: 0;
  visibility: hidden;
}
.ge-header__actions li > a.active:after {
  opacity: 1;
  visibility: visible;
}

.account-dropdown-menu {
    width: 15.789rem;
    padding: 1.263rem 1.211rem;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-dropdown-menu .btn:not(:last-child) {
  margin-bottom: 0.632rem;
}
/* Header Menu CSS */

/* Header CSS */

/* Authentication CSS */
.ge-authentication {
  padding: 6.316rem 0 20rem;
  z-index: 1;
}
.ge__signin__icon {
  width: 3.579rem;
  height: 3.579rem;
  margin-top: -3.947rem;
}
.ge__signin__icon img {
  width: 1.684rem;
  height: 1.684rem;
}
.ge__logo-shape {
  position: absolute;
  top: -22%;
  right: -33%;
  left: auto;
  bottom: 0;
  mix-blend-mode: multiply;
  z-index: -1;
}
.ge-authentication__box {
  padding: 2.105rem;
}

.form-check-label {
  margin-left: 0.842rem;
  cursor: pointer;
}
.form-check-input[type=checkbox] {
  width: 1.684rem;
  height: 1.684rem;
  margin-top: 0;
  border-radius: 0.421rem;
}
.form-check-input[type=checkbox]:checked {
  background-color: var(--dark-green-color);
  border-color: var(--dark-green-color);
}
/* Authentication CSS */

/* Account Page CSS */
.ge__account__hero {
  padding: 7.895rem 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.ge__account__hero::after {
  content: "";
  position: absolute;
  bottom: -50%;
  right: -10%;
  width: 56%;
  height: 330%;
  background: url('../images/icons/logo-shape.svg') no-repeat center / contain;
  mix-blend-mode: multiply;
  z-index: -1;
}
.ge__account__hero--small::after {
  height: 52rem;
  transform: translateY(30%);
}
.ge__account__hero__actions li:not(:last-child) {
  margin-right: 1.263rem;
}
.header-notification a {
  width: 1.842rem;
  height: 1.842rem;
}
.header-notification a img {
  width: 0.842rem;
  height: auto;
}
.header-notification .count {
  position: absolute;
  top: -0.421rem;
  right: -0.421rem;
  width: 1.105rem;
  height: 1.105rem;
  background-color: #D24C4C;
  border-radius: 50%;
  color: #ffffff;
  font-size: 70%;
  font-family: "DuplicateSoft-Medium-Web";
  font-weight: 500;
}
.dropdown-menu-close {
  position: absolute;
  top: 1.316rem;
  left: auto;
  right: 1.316rem;
  bottom: auto;
  cursor: pointer;
}
.dropdown-menu-close svg path {
  stroke: var(--mid-grey-color);
}
.notification-dropdown-menu {
  background-color: var(--light-grey-color);
  box-shadow: 0 0 1.579rem rgba(0, 0, 0, 0.2);
  border-radius: 0.895rem;
  padding: 2.105rem 1.684rem;
  width: 31.579rem;
  margin-top: 0.526rem !important;
}
.notification-menu-list .dropdown-item {
  padding: 0.842rem 1.263rem;
  white-space: normal;
}
.notification-menu-list .dropdown-item.unread {
  border: 2px solid #98CDD7;
}
.notification-menu-list .dropdown-item:not(:last-child) {
  margin: 0 0 8px;
}
.notification-menu-list .dropdown-item a {
  color: var(--primary-color);
  font-family: "DuplicateSoft-Medium-Web";
  font-weight: 500;
  width: 80%;
  display: inline-block;
}
.notification-menu-list .dropdown-item a:hover {
  color: var(--dark-green-color);
}
.dropdown-item .notification-time {
  border-left: 1.5px solid var(--light-mid-grey);
  padding-left: 1.263rem;
  margin-left: 2.632rem;
  min-width: max-content;
}

.ge__account__dash {
  padding: 2.105rem 0 0;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 1;
}
.ge__account__dash--small {
  padding: 2rem 0;
  background-size: cover;
}
.ge__alert {
  padding: 1.474rem 1.684rem;
  margin-bottom: 0.842rem;
  position: relative;
  overflow: hidden;
}
.ge__alert__offer__banner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 27%;
  height: auto;
  right: 20%;
}
.ge__alert__des {
  width: 100%;
  z-index: 1;
}
.ge__alert-small {
  padding: 0.842rem 1.263rem;
  border-radius: 0.421rem;
}
.ge__alert--success {
  border: 2px solid #A6C974;
}

.ge__account__cta {
  padding: 5.357rem 3.571rem;
  z-index: 1;
}
.ge__account__cta::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  width: 45%;
  height: 80%;
  background: url('../images/icons/arrow-shape.svg') no-repeat center / contain;
  z-index: -1;
}
.ge__account__cta h1 {
  width: 79%;
  line-height: 1.1;
}
.ge__account__cta h6 {
  font-size: 0.842rem;
}

.ge__account__balance__box,
.ge__account__link__row {
  height: 100%;
}
.ge__account__link__box {
  padding: 2.2rem 2.368rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ge__account__link__box.link__box-1,
.ge__account__link__box.link__box-2 {
  height: calc(100% - 0.842rem);
  margin-bottom: 0.842rem;
}
/* Account Page CSS */

/* Delivery address Page CSS */
.delivery-address-item .form-check-label {
  background-color: #FFFFFF;
  border: 2px solid var(--light-mid-grey);
  border-radius: 0.421rem;
  padding: 1.789rem 1.263rem;
  display: block;
}
.delivery-address-item .form-check-input[type=radio] {
  position: absolute;
  top: 0.421rem;
  right: 0.421rem;
  width: 1.368rem;
  height: 1.368rem;
  border: 2px solid var(--light-mid-grey);
  margin: 0;
  cursor: pointer;
}
.delivery-address-item .form-check-input[type=radio]:checked {
  background: url('../images/icons/rounded-gradient-dot.svg') no-repeat center / contain;
  border: none;
}
.delivery-address-item .form-check-input[type=radio]:checked + .form-check-label {
  border-color: var(--dark-green-color);
}
/* Delivery address Page CSS */

/* Offers Block CSS */
.ge__offers {
  margin-top: 70px;
}
.ge__offers__list {
  position: relative;
  padding-bottom: 30px;
  overflow: hidden;
  --bs-gutter-x: 1.5rem;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}
.ge__offers__list .swiper-scrollbar {
  bottom: 0 !important;
  left: calc((100% - var(--containerWidth)) / 2);
  right: calc((100% - var(--containerWidth)) / 2);
  height: 5px;
  background-color: #ffffff;
}
@media (min-width: 576px) {
  .ge__offers__list {
    --containerWidth: 520px;
    padding-left: calc((100% - var(--containerWidth)) / 2);
  }
}
@media (min-width: 768px) {
  .ge__offers__list {
    --containerWidth: 700px;
    padding-left: calc((100% - var(--containerWidth)) / 2);
  }
}
@media (min-width: 992px) {
  .ge__offers__list {
    --containerWidth: 930px;
    padding-left: calc((100% - var(--containerWidth)) / 2);
  }
}
@media (min-width: 1200px) {
  .ge__offers__list {
    --containerWidth: 1110px;
    padding-left: calc((100% - var(--containerWidth)) / 2);
  }
}
@media (min-width: 1400px) {
  .ge__offers__list {
    --containerWidth: 1290px;
    padding-left: calc((100% - var(--containerWidth)) / 2);
  }
}
.ge__offers__list .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #D9D9D9;
  cursor: pointer;
}
.ge__offer__product {
  width: 28.9%;
  height: auto;
  flex: 0 0 auto;
  z-index: 1;
}
.ge__offer__product__image {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
}
.ge__offer__product__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}
.ge__product__box {
  padding: 2.105rem 1.316rem 1.263rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.ge__product__box .ge__product__info {
  margin-top: 1.579rem;
}
.ge__plan__header .info {
  width: 13.158rem;
}
.ge__circle__link {
  width: 3.158rem;
  height: 3.158rem;
  background-color: #ffffff;
  color: var(--mid-grey-color);
  display: block;
  border-radius: 50%;
  text-align: center;
  font-family: "DuplicateSoft-Medium-Web" !important;
  font-weight: 500 !important;
  font-size: 0.789rem;
  line-height: 1;
  padding: 0.158rem;
}

.linear-gradient-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35.33%, #000000 100%);
}
.ge__offer__badge {
  position: absolute;
  top: 1.053rem;
  right: 1.053rem;
  width: 4.211rem;
  height: 4.211rem;
  font-size: 0.947rem;
  padding: 0.526rem;
  line-height: 1;
  z-index: 1;
}
.ge__offer__product__info {
  position: absolute;
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  right: auto;
  width: 100%;
  bottom: 1.053rem;
  padding: 0 2.105rem;
  z-index: 1;
}
/* Offers Block CSS */

/* Order Page CSS */
@media (min-width: 768px) {
  .ge__order__info__item { height: 100%; }
}
@media (max-width: 767px) {
  .ge__order__info__item { min-height: 14rem; }
}


.nav-tabs .nav-link {
  font-family: "DuplicateSoft-Medium-Web";
  font-weight: 500;
  font-size: 0.895rem;
  color: var(--primary-color);
  border: 2px solid #ffffff;
  border-radius: 0.842rem 0.842rem 0 0;
  padding: 0.947rem 1.684rem;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #ffffff;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  background-color: #ffffff;
  border-color: var(--light-green-color);
}
.ge__account__order__tab .tab-pane {
  padding: 1.421rem;
  border-radius: 0 0.842rem 0.842rem 0.842rem;
}
.table tfoot tr td {
  padding: 0.421rem 0;
  border: none;
}
.table tfoot tr:first-child td {
  border-top: 2px solid var(--light-grey-color);
  padding-top: 1.684rem;
}

.table-sm th, .table-sm td {
  border-bottom: 2px solid var(--light-grey-color);
  padding: 10px 0;
}
.table-sm tr:last-child th,
.table-sm tr:last-child td {
  border: none;
}
/* Order Page CSS */

/* Bills Page CSS */
.filter-year-select {
  display: flex;
  align-items: center;
}
.filter-year-select label {
  font-family: "DuplicateSoft-Regular-Web";
  font-weight: 400;
  font-size: 0.895rem;
  color: var(--dark-grey-color);
  margin-right: 0.842rem;
  margin-bottom: 0;
}
.filter-year-select .select-wrapper {
  position: relative; 
}
.filter-year-select .select-wrapper:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.105rem;
  height: 1.632rem;
  border-left: 1.5px solid var(--light-mid-grey);
}
.filter-year-select .select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.842rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.368rem 0.263rem 0 0.263rem;
  border-color: var(--dark-green-color) transparent transparent transparent;
  border-radius: 1px;
}
.filter-year-select .form-control {
  min-width: 10.526rem;
  padding: 0.842rem;
}

.ge__bill__item {
  padding: 1.316rem 1.684rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ge__bill__item:not(:last-child) {
  margin-bottom: 0.632rem;
}
.ge__bill__actions {
  display: flex;
  align-items: center;
}
.ge__bill__actions .download {
  position: relative;
  display: block;
  margin-left: 1.684rem;
  padding-left: 1.684rem;
}
.ge__bill__actions .download::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 0.105rem;
  height: 3.158rem;
  background-color: var(--light-mid-grey);
  border-radius: 0.789rem;
}
.ge__bill__actions img {
  width: 1.263rem;
  height: 1.263rem;
}

.ge__bills__sidebar {
  padding-left: 2.105rem;
  margin-left: 1.368rem;
  border-left: 1.5px solid var(--light-mid-grey);
  height: 100%;
}
.ge__bills__sidebar__item:not(:last-child) {
  margin-bottom: 0.632rem;
}
/* Bills Page CSS */

/* Direct Debit Page CSS */
.fd__debit__update__box .close {
  position: absolute;
  top: 1rem;
  left: auto;
  right: 1rem;
  bottom: auto;
  cursor: pointer;
}
.fd__debit__update__box h6 img {
  width: 1.421rem;
  height: 1.421rem;
}
.fd__debit__select__amount {
  margin: 0 2.2rem 2rem;
}
.fd__debit__select__amount .amount {
  border: 2px solid #FFFFFF;
  border-radius: 16px;
  padding: 0.368rem 1.158rem;
  text-align: center;
}

.update-amount-modal .modal-content {
  border-radius: 16px;
}
.update-amount-modal .modal-body {
  padding: 4rem 3.368rem;
}
.update-amount-modal .btn-close {
  position: absolute;
  top: 1.684rem;
  right: 1.684rem;
  width: 1.684rem;
  height: 1.684rem;
  background: var(--light-grey-color) url('../images/icons/x-green.svg') center / 0.737rem no-repeat;
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
}
.update-amount-modal .amount-update {
  border: 2px solid var(--light-mid-grey);
  border-radius: 16px;
  padding: 0.526rem 1.053rem;
}
@media (min-width: 576px) {
  .update-amount-modal {
    --bs-modal-width: 600px
  }
}
/* Direct Debit Page CSS */

/* Table CSS */
.table tr th, .table tr td {
  vertical-align: middle;
  font-size: 0.895rem;
  font-family: "DuplicateSoft-Medium-Web";
  font-weight: 500;
  box-shadow: none;
  border-color: var(--light-grey-color);
  border-bottom-width: 2px;
  padding: 1.421rem 0;
}
.table tr:last-child td {
  border-bottom: none;
}
.table tr th {
  font-family: "DuplicateSoft-Regular-Web";
  font-weight: 400;
  color: var(--dark-grey-color);
  padding: 0.842rem 0;
}
.table tr td:last-child {
  text-align: right;
}
.table tr td a {
  color: var(--primary-color);
}
.table tr td .btn {
  padding: 9px 63px;
  font-size: 0.895rem;
}
.order__total__table {
  border-top: 2px solid var(--light-grey-color);
  padding-top: 20px;
}
.order__total__table tr td {
  border: none;
  padding: 10px 0 8px 30px;
  font-size: 0.895rem;
}
@media (max-width: 991px) {
  .order__table {
    border: 0;
  }
  .order__table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .order__table tbody tr:not(:last-child) {
    border-bottom: 2px solid var(--light-grey-color);
    display: block;
    padding-bottom: 22px;
    margin-bottom: 22px;
  }
  .order__table tbody td {
    border-bottom: none;
    display: block;
  }
  .order__table tr th, .order__table tr td {
    padding: 8px 0;
  }
  .order__table tr td:last-child {
    text-align: left;
  }
  .order__table tbody td[data-label="Status"] {
    padding-bottom: 1.2rem;
  }
  .order__table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    color: var(--dark-grey-color);
    font-family: "DuplicateSoft-Regular-Web";
    font-weight: 400;
    width: 50%;
  }
  .order__table td:last-child {
    border-bottom: 0;
  }
  .order__items__table tr td:first-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .order__items__table tr td:first-child::before {
    width: 100%;
    margin-bottom: 12px;
  }
  .order__total__table table {
    width: 55%;
  }
}
@media (max-width: 575px) {
  .order__total__table table {
    width: 80%;
  }
}
@media (max-width: 320px) {
  .order__total__table table {
    width: 90%;
  }
}
/* Table CSS */

/* Footer CSS */
.footer {
  position: sticky;
  top: 100%;
  margin-top: 5.263rem;
  padding: 5.263rem 0;
}
.footer__company__info {
  padding: 0 2.105rem;
}
.footer__company__info p {
  font-size: 0.842rem;
}
.footer__links li:not(:last-child) {
  margin-bottom: 0.316rem;
}
.social-share li:not(:last-child) {
  margin-right: 0.842rem;
}
.policy-links li:not(:last-child) {
  margin-right: 0.632rem;
}

.social-share a {
  display: block;
  border-radius: 50%;
}
.social-share a:hover {
  box-shadow: 0 0 20px 0 var(--dark-green-color);
}
/* Footer CSS */

/* Responsive CSS */
@media (max-width: 1440px) {
  /* Offers Block CSS */
  .ge__offer__product {
    width: 30.8%;
  }
  /* Offers Block CSS */
}
@media (max-width: 1399px) {
  /* Account Page CSS */
  .ge__account__link__box {
    padding: 2.895rem 1.8rem;
  }
  /* Account Page CSS */

  /* Offers Block CSS */
  .ge__offer__product__image {
    padding-top: 85%;
  }
  /* Offers Block CSS */

  /* Bills Page CSS */
  .ge__bills__sidebar {
    padding-left: 1.3rem;
    margin-left: 0.6rem;
  }
  /* Bills Page CSS */

  /* Footer CSS */
  .footer__company__info {
    padding: 0 0.5rem;
  }
  /* Footer CSS */
}
@media (max-width: 1250px) {
  html { font-size: 15px; }
}
@media (max-width: 1199px) {
  html { font-size: 14px; }

  /* Account Page CSS */
  .ge__account__cta h1 { width: 100%; }
  .ge__account__link__box {
    padding: 2.8rem 1.8rem;
  }
  /* Account Page CSS */

  /* Offers Block CSS */
  .ge__offer__product {
    width: 39%;
  }
  .ge__offer__product__image {
    padding-top: 75%;
  }
  /* Offers Block CSS */

  /* Footer CSS */
  .footer {
    padding: 70px 0;
  }
  .footer .row > div:first-child {
    margin-bottom: 40px;
  }
  .policy-links li:not(:last-child) {
    margin-right: 0;
  }
  .social-share li img {
    width: 30px;
    height: 30px;
  }
  /* Footer CSS */
}

@media (max-width: 991px) {
  /* Header CSS */

  /* Header Top CSS */
  .ge-header__top {
    padding: 0 2.286rem;
  }
  /* Header Top CSS */

  /* Header Menu CSS */
  .ge-header__main {
    padding: 0;
    position: relative;
  }
  .ge-header__menu .navbar {
    position: static;
  }
  .ge-header__main .col-md-8 {
    width: 10.714rem;
    order: 1;
    border-left: 2px solid var(--light-grey-color);
    margin-left: 2.286rem;
  }
  .ge-header__main .col-md-2:last-child {
    flex: 1;
  }
  .ge-header__menu .navbar {
    justify-content: flex-end;
    padding: 2.3rem 0.714rem;
  }

  .ge-header__main .navbar-collapse {
    position: fixed;
    top: 7.5rem;
    right: 0;
    height: auto;
    padding: 1.5rem;
    background-color: var(--light-green-color);
    width: 100%;
    z-index: 3;
  }
  .ge-header__main .navbar-toggler:not(.collapsed) span {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    opacity: 0.3;
    width: 1rem;
  }
  .ge-header__main .navbar-toggler {
    border: none;
    font-size: 1.357rem;
    font-family: "DuplicateSoft-Medium-Web";
    font-weight: 500;
    color: var(--primary-color);
  }
  .ge-header__main .navbar-toggler-icon {
    width: 1.429rem;
    height: 1.429rem;
    margin-left: 0.286rem;
    margin-top: -0.214rem;
  }
  /* Header Menu CSS */

  /* Header CSS */

  /* Offers Block CSS */
  .ge__offer__product {
    width: 45%;
  }
  .ge__product__icon img {
    width: auto;
    height: 90px;
  }
  /* Offers Block CSS */

  /* Account Page CSS */
  .ge__account__cta {
    padding: 3.357rem 2rem;
  }
  .ge__account__link__box {
    padding: 2.5rem 1.5rem;
  }

  .ge__account__balance__box, .ge__account__link__row {
    height: auto;
  }
  .ge__account__balance__box {
    margin-top: 1rem;
  }
  /* Account Page CSS */
}

@media (max-width: 767px) {
  body {
    word-wrap: break-word;
  }
  .text-sm { font-size: 15px; }
  .ge__error img {
    width: 1.1rem;
    height: 1.1rem;
  }
  .small { font-size: 14px; }
  .form-control { font-size: 1rem; }
  .forgot-pass, label { font-size: 1rem; }
  h1 {
    font-size: 2.1rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.1rem;
  }
  .btn-sm {
    font-size: 0.9rem;
  }
  p.w-50 {
    width: 100% !important;
  }

  /* Header CSS */

  /* Components */
  .ge__card {
    height: calc(100% - 1.2rem);
    margin-bottom: 1.2rem;
  }

  .p-40 {
    padding: 1.5rem;
  }
  /* Components */

  /* Authentication CSS */
  .ge-authentication__box {
    padding: 1.5rem;
  }
  .ge__signin__icon {
    margin-top: -3.2rem;
  }
  .ge__alert__offer__banner {
    top: auto;
    bottom: -5px;
    transform: none;
    right: 0;
    width: 150px;
  }
  /* Authentication CSS */

  /* Header Top CSS */
  .ge-header__top {
    padding: 0;
    padding-right: 0.571rem;
  }
  .ge-header__top__links li:not(:last-child),
  .ge-header__actions li > a:after {
    display: none;
  }
  .ge-header__actions li > a {
    font-size: 0.8rem;
  }
  .nav-item-mobile { display: block; }
  .nav-item-mobile a { border: none; }
  /* Header Top CSS */

  /* Header Menu CSS */
  .ge-header__main .col-md-2:last-child {
    flex: 0 0 auto;
  }
  .ge-header__main .col-md-8 {
    border-left: none;
    border-top: 2px solid var(--light-grey-color);
    width: 100%;
    margin: 0;
  }
  .ge-header__menu .navbar {
    justify-content: center;
    padding: 1.714rem 1rem;
  }
  .ge-header__main .navbar-collapse {
    position: absolute;
    top: 100%;
  }
  .ge-header__menu .nav-item .nav-link {
    font-size: 1.1rem;
    display: inline-block;
  }
  /* Header Menu CSS */

  /* Account Page CSS */
  .ge__account__hero {
    padding: 2rem 0 9rem;
  }
  .ge__account__dash {
    background-image: url('../images/header-banner/hero-banner-mobile.svg') !important;
  }
  .ge__account__hero::after {
    bottom: -40%;
    right: -50%;
    width: 150%;
    height: 300%;
  }
  .ge__account__hero__actions li:first-child {
    order: 3;
    margin: 1rem 0 0;
  }
  
  .ge__account__cta::after {
    transform: translate(50%, -50%);
    right: 50%;
    width: 100%;
    height: 85%;
  }

  .ge__account__link__box {
    padding: 2rem 1rem;
  }
  .ge__account__link__box h2 {
    font-size: 22px;
  }
  .ge__account__link__box img {
    width: auto;
    height: 2.5rem;
  }
  .ge__account__link__box h5 {
    font-size: 1.3rem;
  }

  .notification-dropdown-menu {
    width: 25rem;
    padding: 1.8rem 1.4rem;
  }
  .notification-dropdown-menu .notification-menu-list .dropdown-item {
    flex-direction: column;
  }
  .notification-menu-list .dropdown-item a {
    width: 75%;
  }
  .notification-dropdown-menu .notification-menu-list .dropdown-item a {
    width: 100%;
  }
  .dropdown-item .notification-time {
    width: 25%;
    margin-left: 1rem;
  }
  .notification-dropdown-menu .notification-time {
    width: 100%;
    justify-content: flex-end;
    margin-left: auto;
    border-left: none;
    margin-top: 0.6rem;
    max-width: 100%;
    font-size: 0.9rem;
  }
  /* Account Page CSS */

  /* Offers Block CSS */
  .ge__offer__product {
    width: 55%;
  }
  /* Offers Block CSS */

  /* Bills Page CSS */
  .ge__bills__sidebar {
    padding: 2rem 0 0;
    margin: 2.5rem 0 0;
    border-left: none;
    border-top: 1px solid var(--light-mid-grey);
    height: auto;
  }
  .filter-year-select {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-year-select label {
    margin: 0 0 0.3rem;
  }

  .ge__bill__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .ge__bill__info p {
    margin-top: 0.5rem;
  }
  .ge__bill__info p img {
    width: 1.2rem;
  }
  .ge__bill__actions {
    margin-top: 2rem;
  }
  .ge__bill__actions .download {
    margin-left: 1rem;
    padding-left: 1rem;
  }
  .ge__bill__actions .download::before {
    height: 2rem;
  }
  /* Bills Page CSS */

  /* Direct Debit Page CSS */
  .fd__debit__update__box {
    padding-top: 2.5rem !important;
  }
  .fd__debit__select__amount .col-md-6.text-end {
    text-align: center !important;
    margin-top: 0.7rem;
  }
  .update-amount-modal .modal-body {
    padding: 4rem 1.5rem 3rem;
  }
  .update-amount-modal .btn-close {
    top: 1rem;
    right: 1rem;
  }
  .update-amount-modal .amount-update img {
    margin: 0 1rem;
  }
  .update-amount-modal .amount-update h2 {
    font-size: 2.2rem;
  }
  /* Direct Debit Page CSS */

  /* Footer CSS */
  .footer {
    padding: 5rem 0.5rem;
  }
  .footer__company__info {
    padding: 0;
  }
  .footer__company__info h4 {
    font-size: 1.857rem;
  }
  .footer__company__info p span {
    display: block;
  }
  .policy-links li:not(:last-child) {
    margin-right: 0.632rem;
  }
  /* Footer CSS */
}
@media (min-width: 576px) {
  .ge__account__detail__box {
    height: calc(100% - 1.5rem);
    margin-bottom: 1.5rem !important;
  }
}
@media (max-width: 575px) {
  /* Header CSS */
  .ge-header__top li a {
    padding: 0.5rem 0.8rem;
  }
  /* Header CSS */

  /* Offers Block CSS */
  .ge__offer__product {
    width: 85%;
  }
  .ge__account__link__box h5 {
    font-size: 1.2rem;
  }
  /* Offers Block CSS */
}
@media (max-width: 360px) {
  .ge__account__hero__actions li:not(:last-child) {
    margin-right: 6px;
  }


  /* Account Page CSS */
  .notification-dropdown-menu {
    width: 20rem;
    padding: 1rem 1.2rem;
  }
  /* Account Page CSS */

  /* Footer CSS */
  .footer {
    padding: 5rem 0;
  }
  /* Footer CSS */
}
@media (max-width: 320px) {
  /* Offers Block CSS */
  .ge__offer__product {
    width: 90%;
  }
  /* Offers Block CSS */

  /* Direct Debit Page CSS */
  .fd__debit__select__amount {
    margin: 0 0 1.5rem;
  }
  .update-amount-modal .amount-update h2 {
    font-size: 2rem;
  }
  .update-amount-modal .amount-update img {
    width: 1rem;
  }
  /* Direct Debit Page CSS */
}
/* Responsive CSS */